<div class="h-entry">
  <p>
    <time datetime="<%= @entry.published_at %>" class="dt-published"><%= l(@entry.published_at) %></time>
  </p>
  <% @entry.photos.each do |photo| %>
    <%= image_tag(photo.url, alt: photo.alt, class: "u-photo") %>
  <% end %>
  <div class="e-content">
    <%= @entry.content.html_safe %>
  </div>
  <% if @entry.splitted_categories.any? %>
    <div class="">
      <% @entry.splitted_categories.each do |category| %>
        <span class="p-category"><%= category %></span>
      <% end %>
    </div>
  <% end %>
</div>
